#img-header {
    height: 150px;
    background-color: rgb(67, 120, 199);
    position: relative;
}

#img-header img {
    position: absolute;
    height: 100%;
}

#img-top {
    height: 60px;
}

main h1 {
    font-size: 3em;
}

.sottotitolo {
    color: rgb(102, 96, 96);
    font-family: 'Merriweather', serif;
}

.sottotitolo a {
    text-decoration: none;
    color: rgb(67, 120, 199);
}

.sottotitolo span {
    font-size: 0.7em;
}

.sottotitoli-immagini-tim-lee {
    font-size: 0.8em;
}